@{
    Layout = null;
}
@using DAL.Models
@model List<Film>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Paul Walker Tracker</title>
    <base href="/" />
</head>
<body>
<div class="query">
    @using (Html.BeginForm())
    {
        <div>
            @Html.Label("Search:")            
            <input placeholder="Search..."/>
        </div>
    }
</div>

<div class="add-films">
    @Html.ActionLink("Add New Film", "CreateNewFilm", "Index")
</div>

<div class="full-list">
    @RenderPage("_FullList.cshtml")
</div>
</body>
</html>
