@{
    Layout = null;
}
@model List<DAL.Models.Film>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Paul Walker Tracker</title>
</head>
<body>
<div class="query">
    @using (Html.BeginForm())
    {
        <div>
            @Html.Label("Search:");
            <input value="Search" placeholder="Search..."/>
        </div>
    }
</div>

<div class="full-list">
    @RenderPage("_FullList.cshtml")
</div>

<div class="films-list">
    @RenderPage("_FilmsList.cshtml")
</div>
</body>
</html>
