@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<button ng-click="toggleIndex()">Index</button> <button ng-click="toggleEdit()">Edit</button>*@
<div ng-if="showIndex" ng-controller="indexController" ng-include="templateUrl.index"></div>
<div ng-if="showEdit" ng-controller="editController" ng-include="templateUrl.edit"></div>
