<h3>Filter By:</h3>
<input ng-model="searchData.term" placeholder="Search by name..." ng-change="search()" ng-model-options="{ debounce: 250 }"/>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Release Date</th>
            <th>Genre</th>
            <th>IMDB Rating</th>
            <th>My Rating</th>
            <th>Synopsis</th>
            <th>Watched</th>
            <th>Actions</th>
        </tr>        
    </thead>
    <tbody>
        <tr ng-if="loading">
            <td colspan="8"><i class="fa fa-spinner fa-spin"></i> Loading data...</td>
        </tr>
        <tr ng-if="!loading" ng-repeat="film in films">
            <td>{{film.FilmName}}</td>
            <td >{{film.ReleaseDate}}</td>
            <td>{{film.Genre}}</td>
            <td>{{film.ImdbRating}}</td>
            <td>{{film.MyRating}}</td>
            <td>{{film.Synopsis}}</td>
            <td>{{film.Watched}}</td>
            <td><button ng-click="toggleEdit(film)">Edit</button></td>
            <!--<td ng-if="editing"><input ng-model="film.Id" /></td>
            <td ng-if="editing"><input ng-model="film.FilmName"></td>
            <td ng-if="editing"><input ng-model="film.ReleaseDate"></td>
            <td ng-if="editing"><input ng-model="film.Genre"></td>
            <td ng-if="editing"><input ng-model="film.ImdbRating"></td>
            <td ng-if="editing"><input ng-model="film.MyRating"></td>
            <td ng-if="editing"><input ng-model="film.Synopsis"></td>
            <td ng-if="editing"><input ng-model="film.Watched"></td>
            <td ng-if="editing"><button ng-click="saveFilm(film)">Save</button></td>-->
        </tr>
        <tr>
            <td colspan="8">
                <button ng-click="toggleEdit()">Add New Film</button>
            </td>
        </tr>
    </tbody>
</table>

<div ng-if="editing">
    <label>Film Name: </label><input type="text" ng-model="filmsModel.FilmName" /><br />
    <label>Release Date: </label><input type="text" ng-model="filmsModel.ReleaseDate" /><br />
    <label>Genre: </label><input type="text" ng-model="filmsModel.Genre" /><br />
    <label>Imdb Rating: </label><input type="text" ng-model="filmsModel.ImdbRating" /><br />
    <label>My Rating: </label><input type="text" ng-model="filmsModel.MyRating" /><br />
    <label>Synopsis: </label><textarea ng-model="filmsModel.Synopsis"></textarea><br />
    <label>Watched? </label><input type="checkbox" ng-model="filmsModel.Watched" ng-checked="filmsModel.Watched"/>{{filmsModel.Watched}}<br />

    <button ng-click="toggleEdit()">Cancel</button>
    <button ng-click="saveFilm(filmsModel)">Save</button><i ng-if="isSaving" class="fa fa-spin fa-spinner fa2x"></i>
</div>