@using SquishIt.Framework;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paul</title>
    <link rel="stylesheet" href="~/Content/css/site.min.css" type="text/css" />
    @Html.Raw(
        Bundle.JavaScript()
        .AddDirectory("~/Content/j/")
        .Render("~/Content/j/min/jslibs_#.js")
    )

</head>
<body>
    <section data-ng-app="paul" ng-controller="pageController">
        @RenderBody()
    </section>

    @Html.Raw(
        Bundle.JavaScript()
        .Add("~/Content/paul.js")
        .Add("~/Content/paul.underscore.js")
        .Add("~/Content/pageController.js")

        .AddDirectory("~/Content/Common/Controllers/")
        .AddDirectory("~/Content/Common/Resources/")
        .Render("~/Content/j/min/js_#.js")
    )
</body>

</html>