@using SquishIt.Framework;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paul</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    @Html.Raw(
        Bundle.Css()
        .Add("~/Content/css/site.min.css")
        .Add("~/Content/css/toastr.min.css")
        .Render("~/Content/css/min/style_#.min.css")
    )
    @Html.Raw(
        Bundle.JavaScript()
        .AddDirectory("~/Content/j/")
        .Render("~/Content/j/min/jslibs_#.min.js")
    )

</head>
<body>
    <section class="main" data-ng-app="paul" ng-controller="pageController">
        @RenderBody()
    </section>

    @Html.Raw(
        Bundle.JavaScript()
        .Add("~/Content/paul.js")
        .Add("~/Content/paul.underscore.js")
        .Add("~/Content/pageController.js")

        .AddDirectory("~/Content/Common/Controllers/")
        .AddDirectory("~/Content/Common/Resources/")
        .Render("~/Content/j/min/js_#.js")
    )
</body>

</html>