$color-main: #f6f6f6;

$padding-main: 20px;
$padding-main-sides: $padding-main * 0.5;

$font-size-main: 14px;
$font-size-h1: 14px;
$font-size-h2: 14px;
$font-size-h3: 14px;
$font-size-h4: 14px;
$font-size-h5: 14px;
$font-size-h6: 14px;
